<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сервис бронирования ДВФУ{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header-container">
        <a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Логотип ДВФУ"></a>
        <div class="header-title">
            <a href="/">Сервис бронирования пространств</a>
        </div>
        <div class="user-icon">
            <a href="#"><img src="{{ url_for('static', filename='images/user-icon.svg') }}" alt="Профиль"></a>

        </div>
    </header>

    <main class="page-content">
        {% block content %}{% endblock %}
    </main>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slides = document.querySelector('.slides');
            const images = document.querySelectorAll('.slides img');
            const prev = document.querySelector('.prev');
            const next = document.querySelector('.next');
            let index = 0;

            function showSlide(i) {
                index = (i + images.length) % images.length;
                slides.style.transform = `translateX(-${index * 100}%)`;
            }

            prev.addEventListener('click', () => showSlide(index - 1));
            next.addEventListener('click', () => showSlide(index + 1));
        });
    </script>
</body>
</html>