{% extends "base.html" %}

{% block title %}Бронирование пространства | DVFU{% endblock %}

{% block content %}


    <main class="catalog-container">
        <div class="catalog-header">
            <h1>Каталог пространств для бронирования</h1>
            <p>Выберите подходящее пространство для вашего мероприятия</p>
        </div>


       <div class="spaces-grid">
            {% for space in spaces %}
            <a href="{{ url_for('main.booking', space_id=space.id) }}" class="space-tile">
                <div class="space-image">
                    <img src="{{ url_for('static', filename='images/' + space.image) }}" alt="{{ space.space_title }}">
                </div>
                <div class="space-info">
                    <h3 class="space-title">{{ space.title }}</h3>
                    <p class="space-location">{{ space.location }}</p>
                    <div class="space-meta">
                        <span class="space-capacity">{{ space.capacity }} человек</span>
                        <span class="space-type">{{ space.type }}</span>
                    </div>
                    <p class="space-description">
                        {{ space.description }}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
    
{% endblock %}