<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Контакты</h3>
                <p>Email: info@booking-dvfu.ru</p>
                <a href="https://t.me/call/NlG4Oje7C0R7U9JX6t2Vz1qxaiQ">Техподдержка</a>
            </div>
            <div class="footer-section">
                <h3>О сервисе</h3>
                <p>Сервис бронирования пространств ДВФУ</p>
            </div>
            <div class="footer-section">
                <h3>Соцсети</h3>
                <a href="https://m.vk.com/kiryuuuu">VK</a>
                <a href="https://t.me/alexandrltv">Telegram</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; {{ current_year }} Booking Service DVFU. Все права защищены.</p>
        </div>
    </div>
</footer>